%section.user.container
  .row
    .span10.offset1
      %article
        %header
          %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email.downcase)}?s=40")
          %h2 #{@user.full_name}'s video collections (#{@user.queue_items.count})
          %button.btn Follow
        %table.table
          %thead
            %tr
              %th(width="30%") Video Title
              %th(width="15%") Genre
          %tbody
            - @user.queue_items.each do |item|
              %tr
                %td
                  = link_to item.video.title, item.video
                %td
                  = link_to item.category_name,  item.category

%section.user_reviews.container
  .row
    .span10.offset1
      %header
        %h3 #{@user.full_name}'s Reviews (#{@user.reviews.count})
      %ul
        - @user.reviews.each do |r|
          - if r.video
            %article.review
              %li.row
                .span2
                  %p
                    = link_to r.video.title, r.video
                  %span 
                    = r.rating ? "Rating: #{r.rating} / 5" : "Rating: N/A" 
                .span8
                  %p
                    = r.content