%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        %img(src="#{@video.large_cover_url}")
      .video_info.span3
        %header
          %h3 #{@video.title}
          %span 
            = "Rating: #{@video.reviews_total_rate} / 5.0"
        %p #{@video.description}
        .actions
          %a.btn.btn-primary(href="") Watch Now
          %a.btn(href="") + My Queue

%section.reviews.container
  .row
    .span10.offset1
      = form_for [@video, Review.new] do |f|
        %fieldset
          = f.label :rating, "Rate this video"
          = f.select :rating, options_for_select([5,4,3,2,1].map{ |number| [pluralize(number,"Star"), number.to_s]})
          = f.label :conten, "Write Review"
          = f.text_area :content, rows: 6, class: "span6"
        %fieldset.actions.clearfix
          = f.submit "Submit", class: "btn"
          = link_to "Cancel", @video
      %header
        %h3 
          = "User Reviews (#{@video.reviews.size})"
      %ul
        - @video.reviews.each do |r|
          %article.review
            %li.row
              .span2
                %span 
                  = "Rating: #{r.rating.round} / 5"
                %p 
                  by 
                  %a(href="") 
                    = "#{r.user.full_name}"
                  %br
                  = "at #{r.created_at.strftime("%m/%d/%Y %H:%M:%S")}"
              .span8
                %p 
                  = r.content
