%section.invite.container
  .row
    .span10.offset1
      = bootstrap_form_for @invitation, method: :post, class: "invite" do |f|
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          = f.text_field :recipient_name, label: "Friend's Name"
          = f.text_field :recipient_email, label: "Friend's Email Address"
          = f.text_area :message, placeholder: "Please join this really cool site!", class: "span4", rows: 6, label: "Invitation Message"
        %fieldset.action
          = f.submit "Send Invitation", class: "btn"
