%section.billing.container
  .row
    .span10.offset1
      .plan_and_payments
        %section.plan
          %header
            %h1 Billing
          %table.table
            %thead
              %tr
                %th Plan Name
                %th Next Billing Date
                %th Price
            %tbody
              %tr
                %td #{@recent_sub_plan}
                %td #{@recent_sub_period_end}
                %td #{@recent_sub_amount} per month
        = button_to "Cancel Service", nil, class: "btn"

        %section.payment_history
          %header
            %h3 Payment History
          %table.table
            %thead
              %tr
                %th Date
                %th Service Duration
                %th Total
            %tbody
              - @subscriptions.each do |subscription| 
                %tr
                  %td= "#{Time.at(subscription.current_period_start).strftime("%m/%d/%Y")}"
                  %td= "#{Time.at(subscription.current_period_start).strftime("%m/%d/%Y")} - #{Time.at(subscription.current_period_end).strftime("%m/%d/%Y")}"
                  %td= number_to_currency(subscription.plan.amount/100.0)
